@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: wheat;
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: beige;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 90px;
    background: #f9b596d1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;

}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #f9b596d1;
    box-shadow: 0 0 5px #f9b596d1;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #f9b596d1;
    border: 1px solid #f9b596d1;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #f9b596d1;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #f9b596d1;
    border: 1px solid #f9b596d1;
    cursor: pointer;

}

.wrapper form .button input:hover {
    background: #f9b596;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #f9b596d1;
    text-decoration: none;
}

form .signup-link a :hover {
    text-decoration: underline;

}